span.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23216ad9' viewBox='0 0 16 16'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")!important;
}

span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23216ad9'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.HomeContainer {
    padding: 75px;
}

img.homeScreen{
    height: 45vh;
    width: 50vh;
    margin-left: 20%;
}
.texts {
    margin-top: 3%;
    margin-left: 16%;
}
.browse-button {
    margin-left: 16%;
    margin-top: 1%;
}
h4.product {
    margin-top: 1.5%;
}
img.CompanyLogo {
    height: 2.5rem;
    margin: 0.2rem;
}
.Company {
    margin-left: 16%;
}

@media (min-width: 200px) and (max-width: 1000px) {
    .loginImg {
        display: none;
    }
    .signupImg {
        display: none;
    }
}

@media(min-width:360px) {
    .loginPart h1 {
        font-size: 1rem;
    }
    .loginPart h5 {
        font-size: 0.5rem;
    }
    .form {
        padding: 0.1rem;
        margin: 0.6rem;
    }
    .btn-primary {
        width: 45% !important;
        font-size: 0.6rem !important;
        border-radius: 8px;
    }
    #formBasicEmail {
        width: 100% !important;
    }
    .form-control {
        width: 100% !important;
        margin: 0.1rem;
    }
    .joinClub {
        width: 100%;
        font-size: 0.5rem;
    }
    img.homeScreen {
        height: 20vh;
        width: 100%;
    }
    h4.Company {
        font-size: 0.5rem;
        width: 100%;
    }
    img.CompanyLogo {
        margin-left: -5%;
        height: 0.4rem;
        width: 11%;
        margin: 0.2rem;
    }
    h2.texts, h6.texts {
        font-size: 0.8rem !important;
      }
      .texts h2 {
        font-size: 0.6rem !important;
        font-weight: 400;
      }
      .texts h6 {
        font-size: 0.5rem !important;
        width: 100% !important;
      }
      h4.product {
        font-size: 0.6rem !important;
      }
      .browse-button {
       width: 100% !important;
       text-align: center;
       font-size: 0.6rem;
      }
      img.Image {
        height: 10vh;
        width: 25%;
        margin-left: -5%;
      }
      img.mainImg {
        height: 20vh;
        width: 60%;
        margin-left: 19%;
      }
      button.viewbtn.btn.btn-primary {
        width: 99% !important;
      }
      h2.similar {
        margin-top: 9%;
      }
      button.cartbtn.btn.btn-primary {
        width: 45% !important;
      }
      img.cartImage {
        height: 30vh;
        margin-left: -25%;
      }
    
  

      
    
      
}


@media(min-width:700px) {

    .btn-primary {
        width: 15% !important;
        font-size: 0.6rem !important;
        border-radius: 8px;
    }

    img.homeScreen {
        height: 36vh;
        width: 100%;
    }
    h4.Company {
        font-size: 1rem;
        width: 100%;
    }
    img.CompanyLogo {
        margin-left: -5%;
        height: 1.4rem;
        width: 11%;
        margin: 0.2rem;
    }
    h2.texts, h6.texts {

        font-size: 1rem !important;
      }
      .texts h2 {
        font-size: 1.7rem !important;
        font-weight: 400;
      }
      .texts h6 {
        font-size: 1rem !important;
        width: 100% !important;
      }
      h4.product {
        font-size: 0.9rem !important;
      }
      .browse-button {
       width: 100% !important;
       text-align: center;
       font-size: 0.6rem;
      }
      .btn-primary {
        width: 15% !important;
        font-size: 0.6rem !important;
        border-radius: 8px;
    }
    .loginPart h5 {
        font-size: 1rem;
    }
    .loginPart h1 {
        font-size: 1.5rem;
    }
    .joinClub {
        font-size: 1rem;
        margin-left: 9% !important;
    }
    .loginbtn.btn.btn-primary{
        width: 40% !important;
        margin-left: 5%;
    }
    .signup {
        padding: 40px !important;
    }
    .form {
        margin: 1rem;
    }
    .form-control {
        margin: 0.4rem;
    }
    .browse-button {
        width: 80% !important;
    }
    button.Login.btn.btn-primary {
        width: 20% !important;
    }
    .btn-primary {
        width: 35% !important;
        font-size: 0.6rem !important;
        border-radius: 8px;
    }
    img.Image {
        height: 15vh;
        width: 15%;
        margin-left: 5%;
      }
      img.mainImg {
        height: 30vh;
        width: 38%;
        margin-left: 45%;
        margin-top: -39%;
      }
      button.viewbtn.btn.btn-primary {
        width: 99% !important;
      }
      h2.similar {
        margin-top: 9%;
      }
      h2.title {
        margin-left: 39%;
        margin-top: -1%;
      }
      h3.price {
        margin-left: 40%;
      }
      p.info {
        margin-left: 39% !important;
        width: 55% !important;
        font-size: 1rem !important;
      }
      button.cart.btn.btn-primary {
        margin-left: 39%;
        width: 20% !important;
      }
      button.cartbtn.btn.btn-primary {
        width: 25% !important;
      }
}

@media(min-width:1200px) {
    button.cartbtn.btn.btn-primary {
        width: 10% !important;
    }
    button.Login.btn.btn-primary {
        width: 10% !important;
    }
    img.homeScreen {
        height: 36vh;
        width: 60%;
    }
    h4.Company {
        font-size: 2rem;
        width: 100%;
    }
    img.CompanyLogo {
        margin-left: -3%;
        height: 2rem;
        width: 11%;
        margin: 0.2rem;
    }
    h2.texts, h6.texts {

        font-size: 2rem !important;
      }
      .texts h2 {
        font-size: 2.3rem !important;
        font-weight: 400;
      }
      .texts h6 {
        font-size: 1.5rem !important;
        width: 100% !important;
        margin-top: 1%;
      }
      h4.product {
        font-size: 1.2rem !important;
      }
      .browse-button {
       width: 30% !important;
       text-align: center;
       font-size: 0.6rem;
      }
      img.Image {
        height: 15vh;
        width: 37%;
        margin-left: 5%;
      }
      img.mainImg {
        height: 37vh;
        width: 40%;
        margin-left: 15%;
        margin-top: 7%;
      }
      h2.title {
        margin-left: 15%;
        margin-top: -1%;
      }
      h3.price {
        margin-left: 15%;
      }
      p.info {
        margin-left: 15% !important;
        width: 75% !important;
        font-size: 1rem !important;
      }
      button.cart.btn.btn-primary {
        margin-left: 15%;
        width: 17% !important;
      }
      img.cartImage {
        height: 50vh;
      }
}
